totem {
    version: 2
    cluster_name: unison
    crypto_cipher: none
    crypto_hash: none
    transport: udpu
    interface {
        ringnumber: 0
        mcastport: 5405
    }
}

logging {
    fileline: off
    to_stderr: yes
    to_logfile: yes
    logfile: /var/log/cluster/corosync.log
    to_syslog: yes
    debug: off
    logger_subsys {
        subsys: QUORUM
        debug: off
    }
}

quorum {
    provider: corosync_votequorum
    two_node: 1
}

nodelist {
{% for host in ansible_play_hosts -%}
    node {
        name: {{host}}
        nodeid: {{loop.index}}
        ring0_addr: {{host}}
    }
{% endfor -%}
}
