<resources>
  <group id="unisongroup">

    <primitive class="ocf" id="vip" provider="heartbeat" type="IPaddr2">
      <instance_attributes id="vip-instance_attributes">
        <nvpair id="vip-instance_attributes-ip" name="ip" value="{{unison_vip}}"/>
      </instance_attributes>
      <operations>
        <op id="vip-monitor-interval-10s" interval="10s" name="monitor" timeout="20s"/>
        <op id="vip-start-interval-0s" interval="0s" name="start" timeout="20s"/>
        <op id="vip-stop-interval-0s" interval="0s" name="stop" timeout="20s"/>
      </operations>
    </primitive>

{% for profile in sync_profiles -%}
    <primitive class="systemd" id="unison-{{profile.profile}}" type="unison@{{profile.profile}}">
      <operations>
        <op id="unison-{{profile.profile}}-monitor-interval-60" interval="60" name="monitor" timeout="100"/>
        <op id="unison-{{profile.profile}}-start-interval-0s" interval="0s" name="start" timeout="100"/>
        <op id="unison-{{profile.profile}}-stop-interval-0s" interval="0s" name="stop" timeout="100"/>
      </operations>
    </primitive>
{% endfor -%}

  </group>
</resources>
