# quotequoterem has removed in 2.53.3 but without it,
# rsync fails in our tests. Disable for now.
#  copymax = 4
#  copyprog = /bin/rsync -e '/bin/ssh -i /etc/unison/id_ed25519' --inplace --compress
#  copyprogrest = /bin/rsync -e '/bin/ssh -i /etc/unison/id_ed25519' --partial --inplace --compress
#  copyquoterem = false
#  copythreshold = 10240
fastcheck = false
group = true
logfile = /var/log/unison.log
owner = true
prefer = {{nfs_mount_path}}/{{profile.root}}/
{% if unison_remote is search(':') -%}
root = ssh://[{{unison_remote}}]/{{nfs_mount_path}}/{{profile.root}}/
{% else -%}
root = ssh://{{unison_remote}}/{{nfs_mount_path}}/{{profile.root}}/
{% endif -%}
root = {{nfs_mount_path}}/{{profile.root}}/
sshargs = -oIdentityFile=/etc/unison/id_ed25519
times = true
