auto = true
batch = true
fastcheck = false
group = true
logfile = /var/log/unison.log
owner = true
repeat = watch
{% if unison_remote is search(':') -%}
root = ssh://[{{unison_remote}}]/{{nfs_mount_path}}/
{% else -%}
root = ssh://{{unison_remote}}/{{nfs_mount_path}}/
{% endif -%}
root = {{nfs_mount_path}}/
silent = true
sshargs = -oIdentityFile=/etc/unison/id_ed25519
times = true
