[Unit]
Description=unison %I sync
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/local/sbin/unison %I -repeat watch -silent -auto -batch

[Install]
WantedBy=default.target
