[Unit]
Description=unison %I sync
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/local/bin/unison %I -repeat watch -silent -auto -batch
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
